{
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "singleQuote": true,
        "tabWidth": 2
      }
    }
  ]
}
