version: "3.9"
services:
  test:
    build:
      context: .
      args:
        SDL_VERSION: 3.4.0
        SDL_IMAGE_VERSION: 3.2.6
        SDL_TTF_VERSION: 3.2.2
        SDL_MIXER_VERSION: 2.8.1
    volumes:
      - ./bin:/app/bin
      - ./examples:/app/examples
      - ./fonts:/app/fonts
      - ./images:/app/images
      - ./include:/app/include
      - ./src:/app/src
      - ./tests:/app/tests
    tty: true
